<div class="card">
    <div class="header">
        <h4 class="title">Help</h4>
        <p class="category">
        </p>
    </div>
    <div class="content">

        <ul>
            <li>Get longitute and lattitude with this website <a href="http://www.latlong.net/">http://www.latlong.net/</a></li>
        </ul>
    </div>
</div>