<div class="card">
    <div class="header">
        <h4 class="title">Configuration</h4>
        <p class="category">Tabs with icons and full width</p>
    </div>
    <div class="content content-full-width">
        <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#icon-info" data-toggle="tab" aria-expanded="true"><i class="fa fa-info"></i> Info</a>
            </li>
            <li class="">
                <a href="#icon-account" data-toggle="tab" aria-expanded="false"><i class="fa fa-picture-o" aria-hidden="true"></i> Picture</a>
            </li>
            <li>
                <a href="#icon-style" data-toggle="tab"><i class="fa fa-cube"></i> Fields</a>
            </li>
            <li>
                <a href="#icon-settings" data-toggle="tab"><i class="fa fa-cog"></i> Settings</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="icon-info" class="tab-pane active">
                Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!
            </div>
            <div id="icon-account" class="tab-pane">

                Main picture :<br>
                <img src="http://lawoluwe.be/wp-content/uploads/2015/02/Centre-pano-header1.jpg" alt="" class="img-rounded img-thumbnail">
                <hr>
                Your logo :<br>
                <img src="http://lawoluwe.be/wp-content/uploads/2015/02/Centre-pano-header1.jpg" alt="" class="img-rounded img-thumbnail">

            </div>
            <div id="icon-style" class="tab-pane">
                Explore a wide variety of styles, personalise your finishes, and let us design the perfect home for you. It's what we do best and you can see proof in the products and reviews below.
            </div>
            <div id="icon-settings" class="tab-pane">
                Explore a wide Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
            </div>
        </div>

    </div>
</div>